CALI_CONFIG_PROFILE=all-data

# [all-data]
# Combines mpi and computation data into a single config
CALI_SERVICES_ENABLE=event,mpi,recorder,timestamp,trace,kokkostime
CALI_TIMER_SNAPSHOT_DURATION=false
CALI_TIMER_INCLUSIVE_DURATION=false
CALI_TIMER_OFFSET=true
CALI_MPI_MSG_TRACING=true
CALI_MPI_BLACKLIST=MPI_Comm_rank,MPI_Comm_size,MPI_Wtime
CALI_RECORDER_FILENAME=alltrace-%mpi.rank%.cali